<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PMD Alpha Enemy Generator</title>

    <link   rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

    <link   href="{% static 'css/index.css' %}" rel="stylesheet">

</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="jumbotron">
                    <h1>PMD Alpha Enemy Generator</h1>
                    <h3>By LegenDarius116</h3>
                    <hr>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <label>Enter a Pokémon and a Level to Generate an Enemy</label>
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% if success != None %}
                        <hr>
                        {% if not success %}
                            {% if error == 'bad-level' %}
                                <div class="alert alert-danger" role="alert">Invalid level supplied!</div>
                            {% else %}
                                <div class="alert alert-danger" role="alert">Invalid species supplied!</div>
                            {% endif %}
                        {% else %}
                            <!-- Data object exists -->
                            <table>
                                <tr>
                                    <th rowspan="9"><img src="{{ data.image }}"></th>
                                    <td>Species</td>
                                    <td>{{ data.species }}</td>
                                </tr>
                                <tr>
                                    <td>Level</td>
                                    <td>{{ data.level }}</td>
                                </tr>
                                <tr>
                                    <td>HP</td>
                                    <td>{{ data.hp }}</td>
                                </tr>
                                <tr>
                                    <td>Attack</td>
                                    <td>{{ data.attack }}</td>
                                </tr>
                                <tr>
                                    <td>Defense</td>
                                    <td>{{ data.defense }}</td>
                                </tr>
                                <tr>
                                    <td>Special Attack</td>
                                    <td>{{ data.special_attack }}</td>
                                </tr>
                                <tr>
                                    <td>Special Defense</td>
                                    <td>{{ data.special_defense }}</td>
                                </tr>
                                <tr>
                                    <td>Speed</td>
                                    <td>{{ data.speed }}</td>
                                </tr>
                                <tr>
                                    <td>Moves</td>
                                    <td>{{ data.moves }}</td>
                                </tr>
                            </table>

                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</body>
</html>